.player {
  position: fixed;
  bottom: -3rem;
  left: 0;
  width: 100%;
  border-top: 1px solid #222;
  z-index: 100;
}

.mixcloud-player-wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #1a1a1a; /* dark background NTS-style */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.mixcloud-player {
  width: 100%;
  height: auto;
  border: none;
}
